$_w-burger-width: 400px;
$_w-burger-width-mobile: 100%;
$_t-burger-cubic: $t-standard-curve;

// Block
.BurgerMenu {
  position: fixed;
  width: $_w-burger-width;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $c-white;
  z-index: $z-burger-menu;
  padding: 60px 0 0 40px;
  transform: translate3d($_w-burger-width,0,0);
  transition: transform $t-standard;

  @media (max-width: $mq-iphone-5) {
    padding: 40px 0 0 20px;
  }

  @media (max-width: 540px) {
    width: $_w-burger-width-mobile;
    transform: translate3d($_w-burger-width-mobile,0,0);
  }
}

// Elements
.BurgerMenu__close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 20px;
  font-size: 0;

  @media (max-width: $mq-iphone-5) {
    right: 30px;
    top: 30px;
  }

  svg {
    width: 100%;

    path {
      fill: $c-navy;
      transition: fill $t-standard;
    }
  }

  &:hover {
    svg path {
      fill: $c-grey-mid-2;
    }
  }
}

.BurgerMenu__links {
  &:hover > .BurgerMenu__link a {
    color: $c-grey-mid-2;
  }
  
  &:hover > .BurgerMenu__link a:hover {
    color: $c-navy;
  }

  @for $i from 0 through 5 {
    .BurgerMenu__link:nth-child(#{$i}) {
      transition-delay: $i * 25ms;
    }
  }
}

.BurgerMenu__link {
  transform: translate3d(100px,0,0);
  opacity: 0;
  transition: transform $_t-burger-cubic, opacity $_t-burger-cubic;

  a {
    color: $c-navy;
    display: block;
    margin-bottom: 2px;
    transition: color $t-standard;

    @media (max-width: $mq-iphone-5) {
      font-size: 42px;
    }
  }
}

// Modifiers
.BurgerMenu--is-open {
  transform: translate3d(0,0,0);
  transition: transform $_t-burger-cubic;

  .BurgerMenu__link {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
