$_w-burger-width: 400px;
$_w-burger-width-mobile: 100%;

// Block
.BurgerMenu {
  position: fixed;
  width: $_w-burger-width;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $c-white;
  z-index: $z-burger-menu;
  padding: 60px 0 0 40px;
  transform: translate3d($_w-burger-width,0,0);
  transition: transform $t-standard;

  @media (max-width: $grid-medium) {
    padding: 40px 0 0 20px;
  }

  @media (max-width: 540px) {
    width: $_w-burger-width-mobile;
    transform: translate3d($_w-burger-width-mobile,0,0);
  }
}

// Elements
.BurgerMenu__close {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 20px;
  font-size: 0;

  @media (max-width: $grid-medium) {
    right: 20px;
  }

  svg {
    width: 100%;

    path {
      fill: $c-navy;
      transition: fill $t-standard;
    }
  }

  &:hover {
    svg path {
      fill: $c-grey-mid-2;
    }
  }
}

.BurgerMenu__links {
  &:hover > .BurgerMenu__link a {
    color: $c-grey-mid-2;
  }
  
  &:hover > .BurgerMenu__link a:hover {
    color: $c-navy;
  }
}

.BurgerMenu__link {
  a {
    color: $c-navy;
    display: block;
    margin-bottom: 2px;
    transition: color $t-standard;
  }
}

// Modifiers
.BurgerMenu--is-open {
  transform: translate3d(0,0,0);
  transition: transform 700ms $t-cubic-bez;
}
