// Block
.CaseStudySection {
	text-align: center;
	@include responsive-property(margin-bottom, 60px, 125px);
}

// Elements
.CaseStudySection__text {
	max-width: 750px;
	margin: 0 auto;
	@include responsive-property(margin-bottom, 35px, 65px);

	h2 {
		margin-bottom: 15px;
	}
}