// Block
.Header {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 700px;
	display: flex;
	align-items: center;

	.container {
		position: relative;
		z-index: 1;
	}
}

// Elements
.Header__bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	object-fit: cover;
}

.Header__capabilities {
	text-transform: uppercase;
	color: $c-pink;
	@include responsive-property(margin-bottom, 20px, 55px);
}
