// Block
.HeadingTextLink {
	max-width: 420px;
}

// Elements
.HeadingTextLink__heading {
	@include responsive-property(margin-bottom, 10px, 50px);
}

.HeadingTextLink__text {
	@include responsive-property(margin-bottom, 20px, 60px);
}
