// Block
.Header {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 660px;
	display: flex;
	align-items: center;
	margin-bottom: $mb-common;

	@media (max-width: $mq-ipad-landscape) {
		.Heading span,
		.Heading span:first-of-type,
		.HeadingTextLink__text,
		.Link {
			color: $c-white;
		}
	}

	.container {
		position: relative;
		z-index: 1;
		
		@media (max-width: $mq-header-stage-1) {
			margin-top: 15vh;
		}

		@media (max-width: $mq-ipad-landscape) {
			.col-xs-12 {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}
}

// Elements
.Header__bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	object-fit: cover;

	@media (max-width: $mq-ipad-landscape) {
		width: 100%;
	}	
}

.Header__capabilities {
	text-transform: uppercase;
	color: $c-pink;
	@include responsive-property(margin-bottom, 20px, 55px);
}
