// Block
.Link {
	position: relative;
	display: table;
	color: $c-navy;
	transition: color $t-standard;
	@include responsive-property(padding-bottom, 6px, 10px);

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $c-pink;
		transform: translate3d(0,0,0);
		transition: opacity $t-standard, transform 300ms $t-cubic-bez;
	}

	&:hover,
	&:active {
		color: $c-grey-mid;

		&:after {
			opacity: 0;
			transform: translate3d(0,3px,0);
		}
	}
}

// Modifiers
.Link--white {
	color: $c-white;

	&:after {
		background-color: $c-white;
	}
}
