// Block
.Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 170px;
  padding-right: 210px;
  display: flex;
  justify-content: space-between;
  height: $h-navbar;
  z-index: $z-navbar;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transform: translate3d(0, 0, 0);
  transition: background-color $t-standard, height $t-standard, border-color $t-standard, transform 400ms $t-cubic-bez;

  @media (max-width: #{$grid-large}) {
    @include match-grid-padding(padding-left);
    @include match-grid-padding(padding-right);
  }

  @media (max-width: $mq-ipad-landscape) {
    align-items: center;
  }

  @media (max-width: #{$grid-medium}) {
    height: $h-navbar-scrolled;
  }
}

// Elements
.Navbar__logo {
  width: 200px;
  font-size: 0;
  transition: width $t-standard;
  @include responsive-property(width, 90px, 200px);
  @include responsive-property(margin-top, 15px, 30px);

  @media (max-width: #{$mq-ipad-landscape}) {
    margin-top: 0;
  }
}

.Navbar__links {
  display: flex;
  transition: margin-top $t-standard;
  @include responsive-property(margin-top, 25px, 80px);

  .Navbar__link:last-of-type {
    margin-right: 0;
  }
}

.Navbar__link {
  height: 18px;
  font-size: 0;
  @include responsive-property(margin-right, 10px, 65px);

  @media (max-width: $mq-ipad-landscape) {
    display: none;
  }
  
  a {
    position: relative;
    color: $c-white;
    transition: color $t-standard;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $c-white;
      opacity: 0;
      transition: opacity $t-standard;
    }
  }

  &.current-page,
  &:hover {
    a:after {
      opacity: 1;
    }
  }
}

.Navbar__burger {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
  transition: height 75ms linear;
  display: none;

  span {
    width: 38px;
    height: 2px;
    background-color: $c-white;
    transition: background-color $t-standard;
  }

  &:hover {
    height: 20px;
  }

  @media (max-width: $mq-ipad-landscape) {
    display: flex;
  }
}

// Modifiers
.Navbar--is-scrolled-stage-1 {
  height: $h-navbar-scrolled;
  align-items: center;

  .Navbar__logo {
    margin-top: 0;
    width: 90px;
  }

  .Navbar__links {
    margin-top: 0;
  }
}

.Navbar--is-scrolled-stage-2 {
  background-color: $c-white;
  border-bottom: 1px solid $c-grey-mid-3;

  .Navbar__links a {
    color: $c-grey;
  }

  .Navbar__burger span {
    background-color: $c-grey;
  }
}

.Navbar--is-off-screen {
  transform: translate3d(0, -#{$h-navbar}, 0);
}
