// Block
.Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: $h-navbar;
  z-index: $z-navbar;
  background-color: transparent;
  transform: translate3d(0, 0, 0);
  transition: background-color $t-standard, transform 400ms $t-cubic-bez;
  @include responsive-property(padding-left, 20px, 170px);
  @include responsive-property(padding-right, 20px, 210px);
}

// Elements
.Navbar__logo {
  width: 200px;
  font-size: 0;
  @include responsive-property(width, 90px, 200px);
  @include responsive-property(margin-top, 15px, 30px);
}

.Navbar__links {
  display: flex;
  @include responsive-property(margin-top, 20px, 70px);

  .Navbar__link:last-of-type {
    margin-right: 0;
  }
}

.Navbar__link {
  @include responsive-property(margin-right, 10px, 65px);
  
  a {
    position: relative;
    color: $c-white;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $c-white;
      opacity: 0;
      transition: opacity $t-standard;
    }
  }

  &.current-page,
  &:hover {
    a:after {
      opacity: 1;
    }
  }
}

.Navbar__burger {
  display: none;
}

// Modifiers
.Navbar--is-scrolled {
  background-color: black;
}

.Navbar--is-off-screen {
  transform: translate3d(0, -#{$h-navbar}, 0);
}
