// Block
.Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 125px;
  z-index: $z-navbar;
  background-color: transparent;
  transition: background-color $t-standard;
  @include responsive-property(padding-left, 20px, 170px);
  @include responsive-property(padding-right, 20px, 210px);
}

// Elements
.Navbar__logo {
  width: 200px;
  font-size: 0;
  margin-top: 30px;
}

.Navbar__links {
  display: flex;
  margin-top: 70px;

  .Navbar__link:last-of-type {
    margin-right: 0;
  }
}

.Navbar__link {
  @include responsive-property(margin-right, 10px, 65px);
  
  a {
    position: relative;
    color: $c-white;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $c-white;
      opacity: 0;
      transition: opacity $t-standard;
    }
  }

  &.current-page,
  &:hover {
    a:after {
      opacity: 1;
    }
  }
}

.Navbar__burger {
  display: none;
}
