// Block
.ProjectThumbnailText {
	color: $c-white;
}

// Elements
.ProjectThumbnailText__heading {
	@include responsive-property(margin-bottom, 8px, 15px);

	@media (max-width: $mq-case-study-slider-3) {
		max-width: 400px;
	}
}

.ProjectThumbnailText__desc {
	@include responsive-property(margin-bottom, 12px, 30px);

	@media (max-width: $mq-case-study-slider-3) {
		max-width: 400px;
	}
}
