// Block
.Testimonials {
	@include mb-common();
}

// Elements
.Testimonials__heading {
	@include responsive-property(margin-bottom, 35px, 65px);
}

.Testimonials__items {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;

	@media (max-width: $mq-testimonial-3) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.Testimonial:last-of-type {
			margin-bottom: 0;
		}
	}
}
