// Block
.CaseStudySlider {
	position: relative;
	overflow: hidden;

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 300px;
		height: 100%;
		z-index: 1;
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	}

	&:after {
		left: auto;
		right: 0;
		transform: rotate(180deg);
	}

	.slick-slider {
		max-width: $w-case-studies-slider;
		margin: 0 auto;
		overflow: visible;
	}

	.slick-list {
		width: 100%;
		overflow: visible;
	}

	.slick-slide {
		font-size: 0;
		width: 100%;

		// &.slick-current PREVIOUS SIBLING {
		// 	.CaseStudySlider__slide-inner {
		// 		justify-content: flex-end;
		// 	}
		// }
	}

	.slick-prev,
	.slick-next {
		z-index: 1;
		background-color: black;

		&:hover,
		&:focus {
			background-color: black;
		}
	}
}

// Elements
.CaseStudySlider__slide {
	padding: 0 35px;
	
	@media (max-width: $grid-max-width) {
		width: 75%;
	}
}

.CaseStudySlider__slide-inner {
	display: flex;
	align-items: center;
	position: relative;

	img {
		@include slider-img-size();
		border-radius: 10px;
	}
}
