$_offset: 35px;
$_offset-small: 0;

// Block
.CaseStudySliderPanel {
	width: 100%;
	max-width: $w-case-studies-slider;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: flex;
	z-index: 1;
	padding: 0 $_offset;
	transform: translate3d(0,-50%,0);

	@media (max-width: $mq-case-study-slider-1) {
		width: $w-case-studies-slider-large;
	}

	@media (max-width: $mq-case-study-slider-3) {
		top: auto;
		bottom: 0;
		transform: translate3d(0,0,0);
	}

	@media (max-width: $mq-ipad-landscape) {
		width: 85%;
		padding: $_offset-small;
	}

	@media (max-width: $grid-medium) {
		width: 100%;
		@include match-grid-padding(padding-left);
		@include match-grid-padding(padding-right);
	}
}

// Elements
.CaseStudySliderPanel__offset {
	@include slider-img-size();

	@media (max-width: $mq-case-study-slider-3) {
		display: none;
	}
}

.CaseStudySliderPanel__inner {
	flex: 1;
	height: 460px;
	padding: 0 60px 0 30px;
	background-color: $c-navy;
	color: $c-white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
	position: relative;

	&:before {
		content: '';
		opacity: 0.7;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: -moz-linear-gradient(top,  rgba(25,41,58,0) 0%, rgba(25,41,58,0.65) 98%, rgba(25,41,58,0.65) 100%);
		background: -webkit-linear-gradient(top,  rgba(25,41,58,0) 0%,rgba(25,41,58,0.65) 98%,rgba(25,41,58,0.65) 100%);
		background: linear-gradient(to bottom,  rgba(25,41,58,0) 0%,rgba(25,41,58,0.65) 98%,rgba(25,41,58,0.65) 100%);
	}

	@media (max-width: $mq-case-study-slider-1) {
		height: 360px;
	}

	@media (max-width: $mq-case-study-slider-2) {
		height: 300px;
	}

	@media (max-width: $mq-case-study-slider-3) {
		height: auto;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: -moz-linear-gradient(top,  rgba(25,41,58,0) 0%, rgba(25,41,58,0.65) 98%, rgba(25,41,58,0.65) 100%);
		background: -webkit-linear-gradient(top,  rgba(25,41,58,0) 0%,rgba(25,41,58,0.65) 98%,rgba(25,41,58,0.65) 100%);
		background: linear-gradient(to bottom,  rgba(25,41,58,0) 0%,rgba(25,41,58,0.65) 98%,rgba(25,41,58,0.65) 100%);
		@include responsive-property(padding, 20px, 60px);
		@include responsive-property(padding-bottom, 25px, 60px);
	}
}

.CaseStudySliderPanel__heading {
	@include responsive-property(margin-bottom, 8px, 15px);

	@media (max-width: $mq-case-study-slider-3) {
		max-width: 400px;
	}
}

.CaseStudySliderPanel__desc {
	@include responsive-property(margin-bottom, 12px, 30px);

	@media (max-width: $mq-case-study-slider-3) {
		max-width: 400px;
	}
}

.CaseStudySliderPanel__buttons {
	position: absolute;
	bottom: 0;
	right: $_offset;
	display: flex;

	@media (max-width: $mq-ipad-landscape) {
		right: $_offset-small;
	}

	@media (max-width: $grid-medium) {
		@include match-grid-padding(right);
	}
}

.CaseStudySliderPanel__button {
	width: 64px;
	height: 64px;
	background-color: $c-white;
	transition: background-color $t-standard;

	@media (max-width: $mq-case-study-slider-2) {
		width: 50px;
		height: 50px;
	}

	@media (max-width: $grid-medium) {
		width: 40px;
		height: 40px;
	}

	svg {
		height: 42px;
		margin-top: 16px;

		@media (max-width: $mq-case-study-slider-2) {
			height: 28px;
			margin-top: 14px;
		}

		@media (max-width: $grid-medium) {
			margin-top: 10px;
		}
		
		path {
			fill: $c-navy;
		}
	}

	&:first-of-type {
		background-color: $c-grey-mid-2;

		@media (max-width: $mq-case-study-slider-3) {
			border-top-left-radius: 3px;
		}

		svg {
			transform: rotate(180deg);
			margin-top: 0;

			@media (max-width: $mq-case-study-slider-2) {
				margin-top: 4px;
			}

			@media (max-width: $grid-medium) {
				margin-top: 2px;
			}
		}
	}

	&:last-of-type {
		@media (max-width: $mq-case-study-slider-3) {
			border-bottom-right-radius: 8px;
		}
	}

	&:hover,
	&:active {
		background-color: $c-grey-light;
	}
}

// Modifiers
.CaseStudySliderPanel--is-animating {
	z-index: -1;

	@media (max-width: $mq-case-study-slider-3) {
		z-index: 0;
	}
}
