// Block
.RecentProjectsSlider {
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		transition: height 700ms ease;
		max-height: 10000px;
	}
}

// Elements
.RecentProjectsSlider__actions {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -30px;
		width: 100%;
		height: 30px;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 98%, rgba(255,255,255,0.65) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 98%,rgba(255,255,255,0.65) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 98%,rgba(255,255,255,0.65) 100%);
		
		@media (max-width: $mq-recent-projects) {
			top: -20px;
			height: 20px;
		}
	}
}

.RecentProjectsSlider__buttons {
	display: flex;
	align-items: flex-start;

	.SliderBtn {
		&:first-of-type {
			background-color: $c-grey-mid-2;

			&:hover {
				background-color: $c-grey-light;
			}
		}
	
		&:last-of-type {
			background-color: $c-navy;

			svg path {
				fill: $c-white;
			}

			&:hover {
				background-color: $c-grey-light;

				svg path {
					fill: $c-navy;
				}
			}
		}
	}
}
