// Block
.RecentProjectsFilters {
	position: relative;
}

// Elements
.RecentProjectsFilters__btn {
	width: 180px;
	border-bottom: 1px solid $c-grey;
	padding-bottom: 8px;

	&.active {
		font-weight: 700;
	}
}

.RecentProjectsFilters__indicator {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 180px;
	height: 3px;
	background-color: $c-pink;
}
