// Block
.RecentProjectsFilters {
	position: relative;
}

// Elements
.RecentProjectsFilters__btn {
	width: 180px;
	border-bottom: 1px solid $c-grey;
	padding-bottom: 8px;

	&.active {
		font-weight: 700;
	}
}

.RecentProjectsFilters__indicator {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 180px;
	height: 3px;
	background-color: $c-pink;
	transform: translate3d(0,0,0);
	transition: transform $t-standard-curve;

	&.position-0 {
		transform: translate3d(0,0,0);	
	}

	&.position-1 {
		transform: translate3d(180px,0,0);
	}

	&.position-2 {
		transform: translate3d(360px,0,0);
	}

	&.position-3 {
		transform: translate3d(540px,0,0);
	}
}
