$_w-block: calc(33.33333333% - (60px / 3));

// Block
.RecentProjectsProject {
	position: relative;
	width: $_w-block;
	height: 0;
	padding-bottom: $_w-block;
	margin: 0 30px 30px 0;
	@include standard-border-radius();

	&:hover {
		.RecentProjectsProject__gradient {
			opacity: 1;
		}

		.ProjectThumbnailText__heading,
		.ProjectThumbnailText__desc,
		.Link {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}

// Elements
.RecentProjectsProject__img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	@include standard-border-radius();
}

.RecentProjectsProject__gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity $t-standard;
	@include navy-bg-gradient();
	@include standard-border-radius();
}

.RecentProjectsProject__text {
	position: absolute;
	padding: 30px;
	bottom: 0;

	.ProjectThumbnailText__heading,
	.ProjectThumbnailText__desc,
	.Link {
		opacity: 0;
		transform: translate3d(0,75px,0);
		transition: transform 700ms cubic-bezier(0.535, 0, 0, 1) 0s, opacity 400ms ease-in-out;
	}

	.Link {
		transition: transform 700ms cubic-bezier(0.535, 0, 0, 1) 0s, opacity 400ms ease-in-out, color $t-standard;
	}

	.ProjectThumbnailText__desc {
		transition-delay: 25ms;
	}

	.Link {
		transition-delay: 50ms;
	}
}
