// Block
.RecentProjectsSlide {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.RecentProjectsProject:nth-of-type(3),
	.RecentProjectsProject:nth-of-type(5) {
		margin-right: 0;
	}

	.RecentProjectsProject:nth-of-type(4) {
		flex: 1;
	}

	// If there are four projects
	.RecentProjectsProject:nth-last-child(4):first-child,
	.RecentProjectsProject:nth-last-child(4):first-child ~ * {
		&:first-of-type,
		&:nth-of-type(2) {
			width: calc(50% - 15px);
			padding-bottom: 50%;
		}

		&:nth-of-type(2),
		&:last-of-type {
			margin-right: 0;
		}

		&:nth-of-type(3) {
			margin-right: 30px;
		}
	}

	
	// LOOP OVER EACH PROJECT AND ADD TRANSITION DELAY FOR FADE OUT/IN
}
