/* ========================================
  Animations
======================================== */
.a-shake {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}

.a-fade-in-on-load {
  opacity: 0;
  animation: fadeIn $t-fade-in-on-load;
  animation-delay: 1000ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.a-fade-in-up {
  opacity: 0;
  animation: fadeInUp .6s 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

.a-fade-in-up--1s {
  opacity: 0;
  animation: fadeInUp 1s 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

.a-fade-in-up--2s {
  opacity: 0;
  animation: fadeInUp 2s 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

.a-fade-in-up-higher--2s {
  opacity: 0;
  animation: fadeInUpHigher 2s 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

.a-fade-in-down {
  opacity: 0;
  animation: fadeInDown .6s 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

.a-fade-out-up {
  opacity: 1;
  animation: fadeOutUp .6s 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

.a-fade-out {
  opacity: 1;
  animation: fadeOut 600ms 0s cubic-bezier(.19,1,.22,1) forwards;
  
  @media (max-width: $ipad-land-break) {
		opacity: 1;
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInUpHigher {
  0% {
    opacity: 0;
    transform: translate3d(0,60px,0);
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0,-30px,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0,-30px,0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
