/* ========================================
  Animations
======================================== */
.a-fade-in-up {
  opacity: 0;
  animation: fadeInUp 2000ms 0s cubic-bezier(0.19,1,0.22,1) forwards;
  
  @media (max-width: $mq-ipad-landscape) {
		opacity: 1;
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none
  }
}
