/* ==================================
  Grid Overwrite
================================== */
.container {
  width: 100%;
  max-width: 1450px;
  padding: 0 50px;

  @media (max-width: #{$grid-large}) {
    padding: 0 25px;
  }

  @media (max-width: #{$grid-medium}) {
    padding: 0 15px;
  }
}

.row {
  margin: 0;
}
