/* ========================================
  Mixins
======================================== */
@mixin responsive-property($property, $mobile-size, $desktop-size) {
  #{$property}: get-linear-size($mobile-size, $desktop-size);

  @media (min-width: #{$grid-xlarge}) {
    #{$property}: $desktop-size;
  }

  @media (max-width: #{$grid-medium}) {
    #{$property}: $mobile-size;
  }
}

@mixin match-grid-padding($property) {
  #{$property}: 70px;

  @media (max-width: #{$grid-large}) {
    #{$property}: 45px;
  }

  @media (max-width: #{$grid-medium}) {
    #{$property}: 20px;
  }
}
