/* ========================================
  Mixins
======================================== */
@mixin responsive-property($property, $mobile-size, $desktop-size) {
  #{$property}: get-linear-size($mobile-size, $desktop-size);

  @media (min-width: #{$grid-xlarge}) {
    #{$property}: $desktop-size;
  }

  @media (max-width: #{$grid-medium}) {
    #{$property}: $mobile-size;
  }
}

@mixin match-grid-padding($property) {
  #{$property}: 70px;

  @media (max-width: #{$grid-xlarge}) {
    #{$property}: 60px;
  }

  @media (max-width: #{$grid-large}) {
    #{$property}: 35px;
  }

  @media (max-width: #{$grid-medium}) {
    #{$property}: 20px;
  }
}

@mixin fade-out-other-links-on-hover($selector) {
  &:hover > #{$selector} {
    color: $c-grey-mid-2;
  }
  
  &:hover > #{$selector}:hover {
    color: $c-navy;
  }
}

@mixin slider-img-size() {
  width: 75%;
  max-width: 870px;

  @media (max-width: $mq-case-study-slider-1) {
		width: 65%;
  }
  
  @media (max-width: $mq-case-study-slider-2) {
		width: 60%;
	}

  @media (max-width: $mq-case-study-slider-3) {
    width: 100%;
    max-width: 1000px;
	}
}

@mixin navy-bg-gradient() {
  background: -moz-linear-gradient(top,  rgba(25,41,58,0) 0%, rgba(25,41,58,0.65) 98%, rgba(25,41,58,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(25,41,58,0) 0%,rgba(25,41,58,0.65) 98%,rgba(25,41,58,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(25,41,58,0) 0%,rgba(25,41,58,0.65) 98%,rgba(25,41,58,0.65) 100%);
}

@mixin standard-border-radius() {
  border-radius: 10px;
}
