/* ==================================
  Base
================================== */
html {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

body {
	@extend .f-test-font;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

a {
	text-decoration: none;
	outline: 0;

	&:focus,
	&:active {
		outline: 0;
	}
}

/* ==================================
  Style Guide Classes
================================== */
// $font-path: "../fonts/";

// @font-face {
// 	font-family: 'protoslab-regular';
// 	src: url($font-path + 'protoslabweb-regular.eot');
// 	src: url($font-path + 'protoslabweb-regular.eot?#iefix') format('embedded-opentype'), url($font-path + 'protoslabweb-regular.woff') format('woff');
// }

// @font-face {
// 	font-family: 'protoslab-light';
// 	src: url($font-path + 'protoslabweb-light.eot');
// 	src: url($font-path + 'protoslabweb-light.eot?#iefix') format('embedded-opentype'), url($font-path + 'protoslabweb-light.woff') format('woff');
// }

// .f-mont-20-16-medium {
// 	font-family: $f-body;
// 	letter-spacing: 0;
// 	line-height: 1.55;
// 	font-weight: 500;
// 	@include v-spacing(font-size, 16px, 20px);
// }

.f-test-font {
	color: red;
}
