/* ==================================
  Base
================================== */
body {
	color: $c-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	@extend .f-os-regular-21-18;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
	outline: 0;

	&:focus,
	&:active {
		outline: 0;
	}
}

/* ==================================
  Style Guide Classes
================================== */
@font-face {
	font-family: 'ITC Avant Garde Std Md';
	src: url('../../fonts/ITCAvantGardeStd-Md.eot');
	src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'),
			url('../../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
			url('../../fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
			url('../../fonts/ITCAvantGardeStd-Md.woff') format('woff'),
			url('../../fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.f-os-regular-21-18 {
	font-family: 'Open Sans', sans-serif;
	@include responsive-property(font-size, 18px, 21px);
}

.f-agg-48-36 {
	font-family: 'ITC Avant Garde Std Md';
	@include responsive-property(font-size, 36px, 48px);
}
