/* ========================================
  Utility Classes
======================================== */
.u-anim-hidden {
	visibility: hidden;

	@media (max-width: $mq-ipad-landscape) {
		visibility: visible;
	}
}

.u-btn-clear {
	border: 0;
	background: transparent;
	padding: 0;

	&:focus,
	&:active {
		outline: none;
	}
}

.u-list-clear {
	padding: 0;
	margin: 0;
	list-style: none;
}
