/*  ==================================
  Widths and Heights
=================================== */
$h-navbar: 125px;
$h-navbar-scrolled: 70px;

/*  ==================================
  Grid
=================================== */
$grid-medium: 640px;
$grid-large: 1200px;
$grid-xlarge: 1600px;

$breakpoints: (
  small: 0,
  medium: $grid-medium,
  large: $grid-large,
  xlarge: $grid-xlarge
);

/*  ==================================
  Specific custom breakpoints
=================================== */
$mq-ipad-landscape: 1024px;
$mq-burger: 840px;

/*  ==================================
  Colors
=================================== */
$c-white: #FFFFFF;
$c-pink: #C0345E;
$c-navy: #19293A;
$c-grey: #506473;
$c-grey-dark: #344657;
$c-grey-dark-2: #9EA9B1;
$c-grey-mid: #50647380;
$c-grey-mid-2: #A7B1B8;
$c-grey-mid-3: #C5CACE;
$c-grey-mid-4: #C5C9CD;
$c-grey-light: #EDEFF1;
$c-grey-light-2: #E2E4E6;

/*  ==================================
  z-index
=================================== */
$z-navbar: 10;

/*  ==================================
  Transitions
=================================== */
$t-default-ms: 250ms;
$t-standard: $t-default-ms linear;
$t-cubic-bez: cubic-bezier(0.77, 0, 0.175, 1);
