/*  ==================================
  Widths and Heights
=================================== */
// $h-example: 50px;

/*  ==================================
  Grid
=================================== */
$grid-medium: 640px;
$grid-large: 1200px;
$grid-xlarge: 1800px;

$breakpoints: (
  small: 0,
  medium: $grid-medium,
  large: $grid-large,
  xlarge: $grid-xlarge
);

/*  ==================================
  Specific custom breakpoints
=================================== */
$mq-ipad-landscape: 1024px;

/*  ==================================
  Colors
=================================== */
$c-black: #000000;
$c-white: #FFFFFF;

/*  ==================================
  z-index
=================================== */
// $z-example: 10;

/*  ==================================
  Transitions
=================================== */
$t-default-ms: 200ms;
$t-standard: $t-default-ms linear;
$t-cubic-bez: cubic-bezier(0.77, 0, 0.175, 1);
